@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");

body {
  background-color: bisque;
  background-image: url("./images/bg.png");
  background-size: cover;
  text-align: center;
}
#gradient {
  background-image: linear-gradient(
    rgb(167, 167, 167),
    rgba(255, 228, 196, 0.185)
  );
  border-radius: 60px;
}

aside {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bold;
  font-style: italic;
  text-decoration: underline;
}

header {
  text-align: center;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 80px;
  font-family: "Monoton", cursive;
}
aside {
  font-size: 30px;
  margin-bottom: 50px;
}

#keybox {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

button {
  width: 120px;
  font-weight: bold;
  font-size: 48px;
  border-radius: 15px;
  font-family: "Monoton";
}

button:hover {
  background-color: rgb(241, 192, 117);
}

#imagebox {
  display: flex;
  justify-content: space-evenly;
}

img {
  width: 140px;
  cursor: pointer;
  border: bisque solid 3px;
  background-color: rgba(241, 191, 117, 0.397);
  border-radius: 30px;
}

img:hover {
  width: 150px;
  background-color: rgb(241, 192, 117);
  border-radius: 30px;
}
